[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles.git
[submodule "themes/hamburg"]
	path = themes/hamburg
	url = https://github.com/hauke96/hugo-theme-hamburg.git
[submodule "themes/onepress"]
	path = themes/onepress
	url = https://github.com/ijsucceed/onepress.git
